body {
    background-color: deepskyblue;
    margin: 0px;
}

.navbar {
    padding: 10px;
    text-align: right;
    background-color: floralwhite;
}

button {
    background-color: deepskyblue;
    color: floralwhite;
    width: 120px;
    height: 50px;
}

input {
    margin: 10px;
    width: 250px;
    height: 20px;
}

#submit {
    background-color: deepskyblue;
    color: floralwhite;
    margin: 10px 10px 30px 10px;
    width: 260px;
    height: 25px;
}

#form {
    border: solid black;
    border-radius: 15px;
    background-color: white;
    margin: 40px auto;
    width: 350px;
    height: 400px;
    text-align: center;
}

img {
    width: 40px;
    height: 40px;
}
h1 {color: black;
    text-align: left;
    margin-left: 50px;
}
